header {
  background-color: #562a81;
  padding: 2px;
}

.header h3 {
  color: white;
  padding-left: 1rem;
  font-weight: 100;
}

.user-entry {
  background-color: #f0f0f0;
  padding: 1rem;
}

.user-entry h2 {
  margin: 0;
}

.user-entry img {
  display: block;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 1rem;
  border: 0 solid transparent;
}

.user-entry label,
.user-entry input,
.user-entry textarea {
  display: block;
  width: 100%;
}

.user-entry label {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.user-entry input,
.user-entry textarea {
  border: 1px solid #c5c6c5;
  border-radius: 0.2rem;
  padding: 0.3rem;
}

.user-entry button {
  display: block;
  margin: 1rem;
  background-color: #562a81;
  color: white;
  padding: 0.3rem 1rem;
  border-color: transparent;
  border-radius: 0.3rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 580px) {
  body {
    background-color: #f0f0f0;
  }

  .header {
    width: 70%;
    margin: auto;
  }

  .user-entry {
    width: 70%;
    margin: auto;
  }

  .flex {
    display: flex;
  }

  .input {
    padding: 0 1rem;
  }

  .user-entry img {
    display: inline-block;
    width: 50%;
  }

  .user-entry label,
  .user-entry input {
    display: inline-block;
    width: 100%;
    padding-top: 0.4rem;
  }

  .user-entry input {
    margin-bottom: 2rem;
    padding: 0.5rem;
  }
}
